# for jupyter notebook
jupyter

# for modeling
torch
torchvision
torchinfo

# for spiking neural network
snntorch

# for numerical operations
numpy

# for plotting and visualization
matplotlib

# for satellite image processing
rasterio

#  for file path
glob

# for data augmentation
albumentation
